---
layout: homepage
---

<div class="home">
        <h1 class="page-heading"><b>The Latest</b></h1>
        {% for post in site.posts limit:1 %}
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            {{ post.excerpt }}
        </h2>
        {% endfor %}

  <ul class="post-list">
        <h1 class="page-heading">A Few More...</h1>
    {% for post in site.posts offset:1 limit: 5 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

