
<p>Austin is a scientist, engineer, and consultant who advises companies and young entrepreneurs at the intersect of leadership, finance, strategy, and product development. His primary experience surrounds social impact ventures in developing countries, startups, and non-profits. He also consults on improving corporate growth and success as a function of executive well-being and personal development. 

<div class="headshot_wrap"><img class="circularheadshot_left" src="/images/about_photo(1).jpg"> </div>

<p>From his graduate work at Stanford and operating experience since then, Austin has analyzed the growth of nascent markets and how emerging technology companies compete in developing sectors, including quantitative fitness, mobile payments, electric vehicles, and genetic engineering. He has also closely studied and written about the strategies by which millenial leaders create social and economic impact. 

<p>In the past, Austin has worked in <a href="http://www.linkedin.com/in/austinahay/">various operational and leadership roles</a> at <a href="http://www.devbootcamp.com">Dev Bootcamp</a>, <a href="http://www.collegespring.com">College Spring</a>, <a href="http://www.ohmygreen.com/">Oh My Green!</a>, <a href="https://www.apple.com/retail/paloalto/">Apple</a>, and as both research and teaching assistants while at Stanford. 

<p>Since that time, Austin&rsquo;s experiences in engineering, business, WASH and product development have taken him to China, India, Japan, Cambodia, Guam, and Palau. These experiences have given him the laasting belief that social and environmental stewardship is a moral obligation and that this type of understanding rarely comes without personal immersion in the natural and built worlds.

<p>Austin lives in Mountain View, California, and is an avid outdoorsman, fitness fanatic, runner, learning yogi, professional SCUBA diver, coffee lover, and outgoing optimist.</p>

Consulting, hiring, or just interested in learning more? <a href="mailto:austin@austinhay.com">Get in touch.</a>