<head prefix="og: http://ogp.me/ns#">
    <!--- Basic Info -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>
      {% if page.title %}
          {{ page.title }}
        {% else %}
          {{ site.title }}
      {% endif %}
    </title>

<!--- Generate Domain Keywords -->
{% capture site_categories %}{% for category in site.categories %}{{ category | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}

{% assign domain_keyword_categories = site_categories | split:', ' | sort %}

{% assign domain_keyword_tags = site_tags | split:', ' | sort %}

<!--- Generate Page-Specific Keywords -->
{% capture page_tags %}{% for tag in page.tags %}{{tag}}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}

    <!--- Keywords (Categories & Tags) -->
    {% if page.tags %}
            <meta name="keywords" content="{{page.categories}},{{page_tags}}"/>
        {% else %}
            <meta name="keywords" content="{{domain_keyword_categories}},{{domain_keyword_tags}}"/>
            
    {% endif %}
 
    <!--- OPEN GRAPH DATA -->

    <!--- Site Name -->
    <meta property="og:site_name" content="{{ site.title }}"/>

    <!--- Page Titles -->
    {% if page.title %}
            <meta property="og:title" content="{{ page.title }}"/>
        {% else %}
            <meta property="og:title" content="{{ site.title }}"/>
    {% endif %}

    <!-- Images -->
    {% if page.image %}
    <meta property="og:image" content="{{site.url}}/images/{{ page.image }}" />
        {% else %}
    <meta property="og:image" content="{{site.url}}/images/og-images/2014-1.png" />
    {% endif %}

    <!--- Page Type -->
    {% if page.og-type %}
      <meta property="og:type" content="article"/> 
    {% else %}
      <meta property="og:type" content="website"/> 
    {% endif %}

    <!--- Description -->
    {% if page.excerpt %}
      <meta property="og:description" content="{{ page.excerpt | strip_html | truncatewords:75 }}"/>

    {% else %}
      <meta property="og:description" content="{{ description }}"/>
      <meta property="og:description" content="{{ site.meta_description }}"/>
    {% endif %}

    <!--- URL -->
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />

    <!--- Page Category -->
    {% if page.categories %}
        {% for category in page.categories limit:1 %}
            <meta property="article:section" content="{{ category }}"/>
        {% endfor %}
    {% endif %}

    <!--- Tag Categories -->
    {% if page.tags %}
        {% for tag in page.tags %}
            <meta property="article:tag" content="{{ tag }}"/>
        {% endfor %}
    {% endif %}

    <!--- Date  -->
    {% if page.date %}
        <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}"/>
    {% endif %}

    <!--- Author  -->
    {% if page.author %}
          {% for author in page.author limit:1 %}
            <meta property="article:section" content="{{ author }}"/>
          {% endfor %}
        {% else %}
            <meta property="article:section" content="Austin Hay"/>
    {% endif %}

    <!--- OTHER META INFO -->
    <meta property="og:locale" content="en_us"/>

    <!--- END OF OPEN GRAPH META DATA -->

    <!--- Favicon Icon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    
    <!--- Style Sheets -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
  	<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=La+Belle+Aurore'/>
  	<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Josefin+Sans:600'/>
  	<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto'/>
  	<link rel='stylesheet' type='text/csshref=' href='https://fonts.googleapis.com/css?family=Raleway'/>
    <link href='http://fonts.googleapis.com/css?family=Oldenburg' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'/>


<!-- Javascripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/jekyll-search.js"></script>


<!-- GOOGLE ANALYTICS -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57400841-1', 'auto');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');

</script>


<!-- BRANCH SDK -->

<script type="text/javascript">

    (function(b,r,a,n,c,h,_,s,d,k){if(!b[n]||!b[n]._q){for(;s<_.length;)c(h,_[s++]);d=r.createElement(a);d.async=1;d.src="https://cdn.branch.io/branch-latest.min.js";k=r.getElementsByTagName(a)[0];k.parentNode.insertBefore(d,k);b[n]=h}})(window,document,"script","branch",function(b,r){b[r]=function(){b._q.push([r,arguments])}},{_q:[],_v:1},"addListener applyCode banner closeBanner creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS setIdentity track validateCode".split(" "), 0);

    branch.init('key_live_pjb4Wzv0qO7GDCw6TfFtipmpuqfG3luZ', function(err, data) {
        // callback to handle err or data
    });
</script>

</head>
