
 	<div class="home-img-top">
    	<div style="max-width:95%">
        <h1 id="home-title">Austin Alexander Hay</h1>
      </div>
  </div>

      <div class="wrapper-centered">
   			<div class="career-col"> 
				<ul class="career-list">
					{% if site.career_title1 %}
          			<li>
              			<a href=""> <span class="home-career-titles"><i class="fa fa-briefcase"></i> 		{{ site.career_title1 }}</span></a> </br>
              			<a href="http://extreme.stanford.edu/projects/limedrop"> <span class="home-career-titles"><i class="fa fa-users"></i>			{{ site.career_title2 }}</span></a></br>
              			<a href="https://github.com/austinhay"> <span class="home-career-titles"><i class="fa fa-code"></i>				{{ site.career_title3 }}</span></a></br>
              			<a href="http://web.stanford.edu/~aboehm/"> <span class="home-career-titles"><i class="fa fa-graduation-cap"></i>	{{ site.career_title4 }}</span></a></br>
          			</li>
          			{% endif %}
          		<ul>
          	</div>
          </div>
        </div>

    <div id="home-img-bottom-2">
        <div id="coding-text">
          <p>{{ site.language_descriptors }}</p>
        </div>
    </div>

  <div class="wrapper-centered">
          <img class="circularheadshot_center" src="images/headshot.jpg">
  </div>

    <div id="home-img-bottom-1">
      	<div id="home-text">
        	<p>{{ site.career_descriptors }}</p>
      	</div>
    </div>

    


