
<h1 class="page-heading">Projects &amp; Samples</h1>

	Included here are professional samples intended to demonstrate my preparedness for new opportunities. All documents are password protected, so if you'd like access, please send me a short <a href="mailto:austin@austinhay.com">email</a>. These samples include coding projects, business plans, strategy studies, and data analyses across diverse companies and experiences. Coding project repositories can be found on my <a href="http://www.github.com/austinhay">Github</a> account.

<div class="project-boxes">
	<img class="project-snapshot-left" src="/images/projects/simply-finance-sample.png">
	<b>Project:</b> <a href="https://github.com/AustinHay/simply-finance">Simply Finance: Custom Stock &amp; Portfolio Web-App</a>
		</br>
		</br>
	This is a small, simple finance web-app based on a Rack foundation and built in Sinatra. At a basic level it makes it easier to check the top stocks that are important to a user's portfolio. Grounded in Yahoo-finance GEM's and the Yahoo API, this app calls for recent stock metrics. Simple, easy, intuitive and super useful to monitor multiple stocks and their metrics in real-time.  Still in development on <a href="https://github.com/AustinHay/simply-finance">Github</a>.
</div>

<div class="project-boxes">
	<img class="project-snapshot-left" src="/images/projects/google-custom-search-api-sample.png">
	<b>Project:</b> <a href="https://github.com/AustinHay/google-custom-search-engine">Google Custom Search API Research Tool</a>
		</br>
		</br>
	This is a very small, simple, nimble, and scrappy Sinatra app built on the Rack framework. Originally created to help a friend conduct quick and painless market research, the app now serves as a case example for Google CSE API usage and integration. The backend script accepts industry and market metrics and customizes a Google search yielding a tailored research page that can also be RSS enabled. App is deployed for private use on Heroku with HTTP authentication, but code repository can be found on my <a href="https://github.com/AustinHay/google-custom-search-engine">Github</a>.
</div>

<div class="project-boxes">
	<img class="project-snapshot-left" src="/images/projects/scpd-sample.png">
	<b>Project:</b> <a href="../scpd">SCPD Student Feedback Generator</a>
		</br>
		</br>
	In order to assist me in delivering feedback to students in my role as a Course Assistant for the <a href="http://scpd.stanford.edu/public/category/courseCategoryCertificateProfile.do?method=load&certificateId=14800052">Stanford Innovation &amp; Entrepreneurship Certificate Program</a>, I developed a simple Rails web-app that takes form input and rapidly, automatically compiles a framework for graded response. The app was developed in Ruby with a PostgreSQL database for development, testing, and production. VC is through .git and <a href="https://github.com/AustinHay/SCPD_feedback_generator">Github</a>, and the app is deployment is through Heroku. 
</div>

<div class="project-boxes">
	<img class="project-snapshot-left" src="/images/projects/extreme_sample.png">
	<b>Project:</b> <a href="/pdfs/Austin_Hay_Extreme_Sample_Business_Plan.pdf">LimeDrop: Executive Business Pitch</a>
		</br>
		</br>
	In my final quarter at Stanford, I had the privilege to be part of <a href="www.extreme.stanford.edu">Entrepreneurial Design for Extreme Affordability</a>, a 2-quarter, interdisciplinary, immersive dive into social entrepreneurship. The purpose of this course was to match diverse graduate teams with non-profit peers to design, test and deploy a product with real impact for the world's poor. My team designed a low-cost sanitation device, <a href="http://extreme.stanford.edu/projects/limedrop">LimeDrop</a>, delivering higher health outcomes in rual Cambodia. 
</div>

<div class="project-boxes">
	<img class="project-snapshot-left" src="/images/projects/quantfit_sample.png">
	<b>Project:</b> <a href="/pdfs/Austin_Hay_Stanford_Quantfit_Industry_Analysis.pdf">Quantitative Fitness Industry Analysis</a>
		</br>
		</br>
	As a graduate student in Management Science &amp; Engineering at Stanford, I conducted research in <a href="https://profiles.stanford.edu/kathleen-eisenhardt">Dr. Kathleen Eisenhardt's</a> Strategy Lab. We looked at nascent markets and tried to understand how competition evolved over time. More importantly, we looked for trends across companies and industries to understand the landscape and develop new theories surrounding competitive strategy.
</div>

<div class="project-boxes">
	<img class="project-snapshot-left" src="/images/projects/stripe_sample.png">
	<b>Project:</b> <a href="/pdfs/Austin_Hay_Stripe_Market_Entry_Analysis_Sample.pdf">Stripe Emerging Markets Entry Analysis</a>
		</br>
		</br>
	Stripe is a small payments starup that is now handling billions of dollars in transactions and facing steep competition world-wide. In order to better understand how their global strategy might evolve, I conducted research on the South-East Asia Markets and wrote this small report analyzing regional data and delivering an opinion of which countries had the most ripe opportunities for market entry.
</div>

<div class="project-boxes">
	<img class="project-snapshot-left" src="/images/projects/intuit_sample.png">
	<b>Project:</b> <a href="/pdfs/Austin_Hay_Intuit_Strategy_Analysis.pdf">Intuit Financial Management Strategy Analysis</a>
		</br>
		</br>
	In Autumn 2013, I was a part of Stanford's MS&amp;E 270: High Tech Strategy. For our capstone project, my team and I researched Intuit's Financial Management Strategy. We met with Managers and Executives across corporate strategy and financial services branches to understand Intuit's broader competitive movements. Afterwards, we presented our findings to Intuit management and our class at large. The 40-page, 25 MB Executive Document is available upon request.
</div>

<div class="project-boxes">
	<img class="project-snapshot-left" src="/images/projects/palantir_sample.png">
	<b>Project:</b> <a href="/pdfs/Austin_Hay_Palantir_Sample_Performance_Analysis.pdf">Palantir Advertising Performance Analysis</a>
		</br>
		</br>
	Palantir provides robust data analysis across a wide-variety of industries. I analyzed a large monthly advertising data set focused on web traffic at high-volume nascent journalism sites, such as <a href"www.gawker.com">Gawker</a>. In this analysis I recommended monthly changes to advertising strategy to increase value to potential clients. 
</div>

<div class="project-boxes">
	<img class="project-snapshot-left" src="/images/projects/recruiting_basics_sample.png">
	<b>Project:</b> <a href="/pdfs/Austin_Hay_Recruiting_Basics.pdf">Basic Recruitment Profile</a>
		</br>
		</br>
	This sample represents a brief overview of my background, education, and pursuits. It answers some important questions recruiters might ask and discusses my professional trajectory moving forward.
</div>

