<!DOCTYPE html>
<html>

<head>
  	<!--  Form CSS sheet link below:-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  </head>

  {% include head.html %}

  <body>

    {% include header.html %}
      <div>
      
      	<!-- <div class="notes-background-img"> if you want a background image for the contact form insert here-->
          
         <div class="wrapper project-text">
          	<div>
        		{% include contact.html %}
          	</div>
      	</div>

      </div>

    {% include footer.html %}

  </body>

</html>
