---
excerpt: "Included here are professional samples intended to demonstrate my preparedness for new opportunities. All documents are password protected, so if you'd like access, please send me a short email. These samples include coding projects, business plans, strategy studies, and data analyses across diverse companies and experiences. Coding project repositories can be found on my Github account."

image: projects/og-image-2014-1.jpg
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
          	<div class="wrapper project-text">
                {% include projects.html %}
          	</div>
      </div>
    
    {% include footer.html %}

  </body>

</html>




